.contacts-block {
  margin-bottom: 120px;
}
.contacts-block__head {
  margin-bottom: 40px;
}
.contacts-block__body {
  display: flex;
  gap: 20px;
}
.contacts-block__body:not(:last-child) {
  margin-bottom: 60px;
}
.contacts-block__content {
  max-width: 386px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contacts-block__item {
  display: flex;
  gap: 12px;
}
.contacts-block__item-icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 4px;
  background-color: var(--main-color);
  color: var(--bg-color);
}
.contacts-block__item-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contacts-block__item-title {
  font-weight: 400;
}
.contacts-block__item-title {
  line-height: 100%;
  letter-spacing: -0.02em;
}
.contacts-block a.contacts-block__item-title {
  transition: color 0.3s;
}
.contacts-block__item-label {
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--gray-color);
}
.contacts-block__form {
  max-width: 780px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts-block__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 20px;
}
.contacts-block__inputs > * {
  flex: 1 1 auto;
  width: calc(50% - 20px);
  min-width: 250px;
}
.contacts-block__send {
  max-width: 447px;
}
.contacts-block__map {
  display: grid;
  border-radius: 10px;
  overflow: hidden;
  min-height: 500px;
}
.contacts-block__map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 47.99875em) {
  .contacts-block {
    margin-bottom: 80px;
  }
  .contacts-block__head {
    margin-bottom: 24px;
  }
  .contacts-block__body {
    flex-direction: column;
  }
  .contacts-block__body:not(:last-child) {
    margin-bottom: 40px;
  }
  .contacts-block__content {
    gap: 20px;
  }
}
@media (max-width: 29.99875em) {
  .contacts-block__item-title {
    font-size: 20px;
  }
  .contacts-block__send {
    max-width: 100%;
  }
}
@media (min-width: 29.99875em) and (max-width: 102.5em) {
  .contacts-block__item-title {
    font-size: clamp( 20px , 16.689850175px  +  0.689643282vw , 28px );
  }
}
@media (min-width: 102.5em) {
  .contacts-block__item-title {
    font-size: 28px;
  }
}
@media (any-hover: hover) {
  .contacts-block a.contacts-block__item-title:hover {
    text-decoration: underline;
    color: var(--gray-color);
  }
}