.pagination {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.pagination__arrow {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  padding: 5px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 50%;
  transition: border 0.3s, color 0.3s;
}
.pagination__arrow.disabled {
  pointer-events: none;
  border-color: var(--line-color);
  color: var(--line-color);
}
.pagination__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.pagination__link {
  min-width: 40px;
  min-height: 40px;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 5px;
  border: 1px solid var(--line-color);
  color: var(--gray-color);
  border-radius: 30px;
  transition: border 0.3s, color 0.3s, background 0.3s;
}
.pagination__link.is-active {
  pointer-events: none;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-color: var(--main-color);
}
@media (max-width: 29.99875em) {
  .pagination {
    margin-top: 24px;
    gap: 12px;
    justify-content: space-between;
  }
  .pagination__item:nth-child(n+5) {
    display: none;
  }
}
@media (max-width: 22.49875em) {
  .pagination__item:nth-child(n+4) {
    display: none;
  }
}
@media (any-hover: hover) {
  .pagination__arrow:hover {
    border-color: var(--text-color);
    color: var(--text-color);
  }
  .pagination__link:hover {
    border-color: var(--text-color);
    color: var(--text-color);
  }
}