.header-small {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--line-color);
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-small__container {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
}
.header-small__logo {
  width: 160px;
  transition: opacity 0.3s;
}
.header-small__logo img {
  width: 100%;
  object-fit: cover;
}
.header-small__right {
  justify-self: end;
}.service-hero {
  margin-bottom: 120px;
}
.service-hero__head {
  margin-bottom: 40px;
}
.service-hero__body {
  display: grid;
  align-items: end;
  position: relative;
  z-index: 3;
  overflow: hidden;
  border-radius: 10px;
  min-height: 500px;
  color: var(--bg-color);
  padding: 40px;
}
.service-hero__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -20%, rgb(0, 0, 0) 100%);
}
.service-hero__bg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-hero__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.service-hero__item {
  display: flex;
  gap: 14px;
}
.service-hero__item-icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border: 1px solid var(--bg-color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  padding: 5px;
}
.service-hero__item-icon img {
  max-width: 23px;
  width: 100%;
  object-fit: contain;
}
.service-hero__item-body {
  max-width: 397px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.service-hero__item-body > * {
  flex: 1 1 auto;
}
.service-hero__item-title {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--line-color);
}
.service-hero__item-text {
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--line-color);
}
.service-hero__order {
  display: none;
}.stages {
  margin-bottom: 120px;
}
.stages__container > *:not(:last-child) {
  margin-bottom: 24px;
}
.stages__head:not(:last-child) {
  margin-bottom: 40px;
}
.stages__title {
  text-align: center;
}
.stages__text {
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--gray-color);
}
.stages__body {
  display: grid;
  grid-template-columns: 1.41fr 1fr;
  gap: 20px;
}
.stages__items {
  counter-reset: item;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.stages__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stages__item-head {
  display: flex;
  gap: 16px;
}
.stages__item-head:before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  line-height: 120%;
  color: var(--gray-color);
  margin-top: 5px;
}
.stages__item-text {
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--gray-color);
}
.stages__img {
  display: grid;
  border-radius: 10px;
  overflow: hidden;
}
.stages__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}.enters {
  margin-bottom: 120px;
}
.enters__head {
  margin-bottom: 40px;
}
.enters__title {
  text-align: center;
}
.enters__body {
  display: grid;
  grid-template-columns: 1fr 1.41fr;
  gap: 20px;
}
.enters__img {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
}
.enters__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.enters__list {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  counter-reset: item;
}
.enters__list li {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--line-color);
  position: relative;
  padding-left: 38px;
}
.enters__list li:before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  position: absolute;
  left: 0;
  top: 3px;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--gray-color);
}.howwework {
  margin-bottom: 120px;
}
.howwework__head {
  margin-bottom: 40px;
}
.howwework__title {
  text-align: center;
}
.howwework__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
}
.howwework__item {
  display: flex;
  align-items: center;
  gap: 32px;
}
.howwework__item-icon {
  flex-shrink: 0;
}
.howwework__item-icon {
  width: 100%;
  aspect-ratio: 1/1;
}
.howwework__item-icon img {
  width: 100%;
  object-fit: cover;
}
.howwework__item-title {
  line-height: 120%;
}.reviews {
  margin-bottom: 120px;
}
.reviews__container {
  position: relative;
  z-index: 2;
}
.reviews__head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  margin-bottom: 40px;
}
.reviews__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
.reviews__item {
  display: flex;
  gap: 14px;
}
.reviews__item-icon {
  align-self: flex-start;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
}
.reviews__item-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews__item-body {
  display: flex;
  flex-direction: column;
}
.reviews__item-body > *:not(:last-child) {
  margin-bottom: 8px;
}
.reviews__item-title {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--line-color);
}
.reviews__item-title:not(:last-child) {
  margin-bottom: 12px;
}
.reviews__item-text {
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--gray-color);
}
.reviews__item-person {
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--gray-color);
}
.reviews__decor-1, .reviews__decor-2 {
  position: absolute;
  z-index: -1;
  width: 100%;
  pointer-events: none;
}
.reviews__decor-1 img, .reviews__decor-2 img {
  width: 100%;
  object-fit: cover;
}
.reviews__decor-1 {
  max-width: 264px;
  right: -240px;
  top: 0px;
  transform: rotate(-30deg);
}
.reviews__decor-2 {
  max-width: 180px;
  left: -170px;
  bottom: 78px;
  transform: rotate(30deg);
}
@media (max-width: 102.5em) {
  .reviews__decor-1 {
    right: -100px;
    top: -180px;
  }
  .reviews__decor-2 {
    left: -100px;
  }
}
@media (max-width: 74.99875em) {
  .service-hero__body {
    padding: 32px 20px;
  }
}
@media (max-width: 61.99875em) {
  .header-small {
    display: none;
  }
  .service-hero__body {
    min-height: 0;
  }
  .service-hero__body::before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
  }
  .service-hero__items {
    grid-template-columns: 1fr;
  }
  .service-hero__item-body {
    max-width: 100%;
  }
  .stages__body {
    grid-template-columns: repeat(2, 1fr);
  }
  .enters__body {
    grid-template-columns: repeat(2, 1fr);
  }
  .howwework__item-icon {
    max-width: 90px;
  }
  .reviews__items {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  .reviews__decor-1, .reviews__decor-2 {
    display: none;
  }
}
@media (max-width: 47.99875em) {
  .service-hero {
    margin-bottom: 80px;
  }
  .service-hero__head {
    margin-bottom: 24px;
  }
  .service-hero__body:not(:last-child) {
    margin-bottom: 20px;
  }
  .service-hero__order {
    margin: 0 auto;
    display: flex;
  }
  .stages {
    margin-bottom: 80px;
  }
  .stages__head:not(:last-child) {
    margin-bottom: 32px;
  }
  .stages__body {
    grid-template-columns: 1fr;
  }
  .stages__img {
    order: -1;
  }
  .enters {
    margin-bottom: 80px;
  }
  .enters__head {
    margin-bottom: 32px;
  }
  .enters__body {
    grid-template-columns: 1fr;
  }
  .enters__list {
    font-size: 18px;
  }
  .howwework {
    margin-bottom: 80px;
  }
  .howwework__head {
    margin-bottom: 32px;
  }
  .howwework__items {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
  .reviews {
    margin-bottom: 80px;
  }
  .reviews__head {
    margin-bottom: 32px;
  }
}
@media (max-width: 29.99875em) {
  .service-hero__item-title {
    font-size: 20px;
  }
  .service-hero__order {
    max-width: 100%;
  }
  .stages__item-head:before {
    margin-top: 4px;
  }
  .stages__img {
    min-height: 200px;
  }
  .enters__img {
    min-height: 200px;
  }
  .reviews__items {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 22.49875em) {
  .service-hero__item {
    gap: 12px;
  }
  .service-hero__item-icon {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 29.99875em) {
  .stages__title br {
    display: none;
  }
  .enters__title br {
    display: none;
  }
  .howwework__title br {
    display: none;
  }
  .reviews__title br {
    display: none;
  }
}
@media (min-width: 61.99875em) and (max-width: 102.5em) {
  .howwework__item-icon {
    max-width: clamp( 90px , 25.7069843523px  +  6.4812814419vw , 132px );
  }
}
@media (min-width: 102.5em) {
  .howwework__item-icon {
    max-width: 132px;
  }
}
@media (any-hover: hover) {
  .header-small__logo:hover {
    opacity: 0.6;
  }
}